html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway-Regular";
  padding-top: 70px; }
  @media screen and (min-width: 1300px) {
    body {
      padding-top: 0; } }
  body .bg {
    background-image: url(../../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: bg 1.5s;
    opacity: 1; }

@keyframes bg {
  from {
    opacity: 0; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }
  a.link {
    color: #DFBF36; }

img {
  vertical-align: top;
  width: 100%;
  height: auto; }

.wp-block-image img {
  border-radius: 5px; }

.wp-block-image figcaption {
  color: #fff; }

.blocks-gallery-item img {
  border-radius: 5px; }

svg {
  vertical-align: top; }

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: none; }

input {
  border: none;
  font-family: "Raleway-Regular";
  padding: 0;
  margin: 0;
  outline: none; }

textarea {
  font-family: "Raleway-Regular";
  outline: none;
  border: 0;
  min-width: 100%;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: "Raleway-Bold";
  line-height: 1.3; }

h1 {
  text-align: center;
  font-size: 10vw;
  margin-bottom: 6%; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 46px;
      margin-bottom: 34px; } }
  @media screen and (min-width: 1300px) {
    h1 {
      font-size: 64px; } }

h2, .h2 {
  font-size: 7vw;
  margin-bottom: 5%; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      margin-bottom: 5%;
      font-size: 32px; } }
  @media screen and (min-width: 992px) {
    h2, .h2 {
      font-size: 38px; } }
  @media screen and (min-width: 1300px) {
    h2, .h2 {
      font-size: 46px;
      margin-bottom: 34px; } }
  h2.subtitle, .h2.subtitle {
    text-align: center;
    font-size: 22px;
    font-family: "Raleway-Regular"; }

h3, .h3 {
  margin-bottom: 10px;
  font-size: 5vw; }
  @media screen and (min-width: 480px) {
    h3, .h3 {
      font-size: 23px; } }

p {
  margin: 0;
  margin-bottom: 4%;
  line-height: 1.5; }
  @media screen and (min-width: 1300px) {
    p {
      margin-bottom: 30px; } }

strong {
  font-weight: normal;
  font-family: "Raleway-Bold"; }

main {
  overflow: hidden;
  display: block;
  margin-top: 10%;
  min-height: calc(100vh - 168px - 190px - 245px);
  margin-bottom: 50px; }
  @media screen and (min-width: 768px) {
    main {
      margin-top: 4%;
      margin-bottom: 100px; } }
  @media screen and (min-width: 1300px) {
    main {
      margin-top: 90px; } }
  main.collapse {
    margin-bottom: 0; }

iframe {
  width: 100%; }

.container-480 {
  max-width: 480px;
  margin: 0 auto; }
  .container-480:after {
    clear: both;
    content: "";
    display: block; }

.container-680 {
  max-width: 680px;
  margin: 0 auto; }
  .container-680:after {
    clear: both;
    content: "";
    display: block; }

.container-920 {
  max-width: 920px;
  margin: 0 auto; }
  .container-920:after {
    clear: both;
    content: "";
    display: block; }

.container-1400 {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto; }
  .container-1400:after {
    clear: both;
    content: "";
    display: block; }
  .container-1400.no-pad {
    padding: 0; }

.center {
  text-align: center; }

.wp-block-embed {
  margin: 0; }

.hamb {
  cursor: pointer;
  padding: 15px; }
  .hamb .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: .3s all; }
    .hamb .line:nth-child(2) {
      margin: 7px 0; }
  .hamb.change .line {
    background-color: #DFBF36; }
  .hamb.change .line:nth-child(1) {
    transform: translateY(9px) rotate(-45deg); }
  .hamb.change .line:nth-child(2) {
    opacity: 0; }
  .hamb.change .line:nth-child(3) {
    transform: translateY(-9px) rotate(45deg); }

.button {
  border-radius: 5px;
  padding: 15px 25px;
  font-family: "Raleway-Bold";
  font-size: 16px;
  transition: .3s all; }
  .button.white {
    background-color: #fff;
    color: #000; }
    .button.white.wborder {
      border: 1px solid #000; }
    .button.white:hover {
      background-color: #DFBF36; }
  .button.black {
    background-color: #000;
    color: #fff;
    border: 1px solid #000; }
    .button.black:hover {
      background-color: #DFBF36;
      color: #000; }
  .button.large {
    min-width: 150px; }
  .button.disabled {
    pointer-events: none;
    border: 1px solid #d6d6d6;
    background-color: #d6d6d6; }

label {
  margin-bottom: 10px;
  display: block; }

input {
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1;
  width: 100%; }
  input:focus {
    border-color: #DFBF36; }
  input.error {
    border-color: #D03F48; }
  input[type="number"] {
    pointer-events: none;
    -moz-appearance: textfield; }
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none; }

textarea {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  font-size: 16px; }
  textarea:focus {
    border-color: #DFBF36; }
  textarea::placeholder {
    color: #d6d6d6; }

.checkbox {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative; }
  .checkbox input {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 120%;
    height: 120%;
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0;
    cursor: pointer; }
    .checkbox input:checked ~ .input-checked {
      display: block; }
  .checkbox .input-checked {
    width: 100%;
    height: 100%;
    background-image: url(../../img/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: none; }

#cart-overview {
  position: absolute;
  z-index: 3;
  top: calc(100% + 1px);
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #DFBF36;
  border-radius: 0 0 5px 5px;
  display: none; }
  #cart-overview:before {
    content: '';
    position: absolute;
    right: 15px;
    top: -24px;
    border-top: 11px solid transparent;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 11px solid #DFBF36; }
  #cart-overview .cart-overview {
    padding: 15px;
    padding-bottom: 20px;
    max-height: calc(100vh - 70px);
    overflow-y: auto; }
  #cart-overview h2 {
    color: #000;
    margin-bottom: 10px;
    font-size: 18px; }
  #cart-overview p {
    color: #000;
    text-align: center;
    font-family: "Raleway-Bold"; }
  #cart-overview .product {
    border-bottom: 1px solid #D6D6D6;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between; }
    #cart-overview .product img {
      width: auto;
      height: 100px; }
    #cart-overview .product .controls {
      display: flex; }
      #cart-overview .product .controls span {
        background-color: #D6D6D6;
        border-radius: 5px;
        color: #000;
        font-size: 24px;
        font-family: "Raleway-Bold";
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer; }
        #cart-overview .product .controls span:hover:not(:nth-child(2)) {
          background-color: #DFBF36; }
      #cart-overview .product .controls span:nth-child(2) {
        background-color: transparent;
        font-size: 16px;
        width: auto;
        height: auto;
        min-width: 40px; }
    #cart-overview .product .packing {
      color: #000; }
    #cart-overview .product .price {
      color: #000; }
    #cart-overview .product .remove {
      color: #DFBF36; }
  #cart-overview .empty-cart {
    padding: 50px 15px; }
    #cart-overview .empty-cart div {
      text-align: center; }
    #cart-overview .empty-cart a {
      display: inline-block; }
    #cart-overview .empty-cart .button {
      display: inline-block;
      margin: 0 auto; }
  #cart-overview .cart-summary {
    margin-top: 20px; }
    #cart-overview .cart-summary span {
      color: #000; }
    #cart-overview .cart-summary .pricing-container {
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between; }
    #cart-overview .cart-summary .col {
      display: flex;
      flex-direction: column; }
      #cart-overview .cart-summary .col span:first-child {
        margin-bottom: 5px; }
      #cart-overview .cart-summary .col:first-child {
        align-items: flex-start; }
      #cart-overview .cart-summary .col:last-child {
        align-items: flex-end;
        margin-left: 30px; }
    #cart-overview .cart-summary .product-sum {
      font-family: "Raleway-Bold"; }
    #cart-overview .cart-summary .delivery {
      color: #000;
      margin-bottom: 15px;
      font-size: 13px;
      text-align: center;
      line-height: 1.4; }
      #cart-overview .cart-summary .delivery br {
        display: none; }
      #cart-overview .cart-summary .delivery strong {
        font-weight: normal;
        font-family: "Raleway-Bold"; }
      #cart-overview .cart-summary .delivery a {
        color: black; }
        #cart-overview .cart-summary .delivery a:hover {
          border-bottom: 1px solid #DFBF36; }
    #cart-overview .cart-summary .controls {
      margin-bottom: 30px;
      display: flex;
      justify-content: center; }
      #cart-overview .cart-summary .controls .button {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 13px 20px;
        width: 50%;
        white-space: nowrap; }
      #cart-overview .cart-summary .controls .button:first-child {
        margin-right: 20px; }
    #cart-overview .cart-summary .min-order {
      color: #000;
      font-size: 13px;
      text-align: center; }
  @media screen and (min-width: 410px) {
    #cart-overview .cart-summary .delivery br {
      display: block; }
    #cart-overview .cart-summary .controls .button {
      font-size: 16px;
      padding: 15px 25px; } }
  @media screen and (min-width: 480px) {
    #cart-overview .cart-overview {
      padding: 30px; } }
  @media screen and (min-width: 768px) {
    #cart-overview {
      min-width: 500px;
      width: auto;
      border-radius: 5px; }
      #cart-overview .product img {
        padding-left: 20px; }
      #cart-overview:before {
        right: 25px; } }
  @media screen and (min-width: 1300px) {
    #cart-overview {
      top: 75%; }
      #cart-overview .cart-overview {
        max-height: calc(100vh - 150px); } }

.pi-slides {
  position: relative; }
  .pi-slides:after {
    clear: both;
    content: "";
    display: block; }
  .pi-slides .pi-slide {
    float: left; }

.slider .slider-container {
  position: relative;
  height: 80px;
  overflow: hidden;
  padding-top: 20px; }

.slider .controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 10px; }
  .slider .controls svg {
    width: 20px; }
  .slider .controls:hover path {
    fill: #DFBF36; }
  .slider .controls.prev, .slider .pagination .controls.page-numbers.next, .pagination .slider .controls.page-numbers.next {
    left: 5px; }
  .slider .controls.next {
    right: 5px; }

.slider .slider-core {
  transition: .3s transform; }
  .slider .slider-core.init {
    transform: scale(0); }

.slider .slide {
  padding: 0 40%; }
  .slider .slide img {
    user-select: none; }

.slider .highlight {
  display: none; }

.slider .cta {
  display: none; }

@media screen and (min-width: 480px) {
  .slider .slider-container {
    padding-left: 55px;
    padding-right: 55px; }
  .slider .slide {
    padding: 0 25%; } }

@media screen and (min-width: 992px) {
  .slider .slider-container {
    padding-top: 0; }
  .slider .slider-core {
    padding-top: 26%;
    padding-bottom: 13%; }
  .slider .slide {
    position: relative;
    padding: 0 30%; }
    .slider .slide .slider-product {
      transition: .3s transform; }
    .slider .slide a:first-of-type {
      pointer-events: none; }
  .slider .highlight {
    position: absolute;
    top: -78%;
    left: 50%;
    right: 0;
    width: 150%;
    transform: translateX(-50%) scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .4s transform; }
    .slider .highlight h2 {
      position: absolute;
      top: 5%;
      font-size: 7vw;
      margin: 0;
      font-family: "Tamaki-1";
      user-select: none; }
  .slider .cta {
    position: absolute;
    top: calc(100% + 60px);
    left: 0;
    width: 100%;
    display: block;
    display: none; }
    .slider .cta button {
      padding: 15px 40px;
      user-select: none; }
  .slider .center .highlight {
    transform: translateX(-50%) scale(1); }
  .slider .center .slider-product {
    transform: scale(1.5) translateY(-7%); }
  .slider .center .cta {
    display: block; } }

@media screen and (min-width: 1300px) {
  .slider .highlight h2 {
    font-size: 90px; } }

#map {
  margin-top: 60px;
  height: 596px; }
  #map .gm-style-iw {
    padding: 20px !important; }
  #map .info-window {
    color: #000;
    font-size: 16px;
    font-family: "Raleway-Regular"; }
    #map .info-window .name {
      margin-bottom: 10px;
      font-family: "Raleway-Bold"; }
    #map .info-window .address {
      margin-bottom: 7px;
      max-width: 150px !important; }
    #map .info-window .phone {
      display: block;
      color: #000; }

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .pagination .page-numbers {
    font-family: "Raleway-Regular";
    font-size: 16px;
    border: 1px solid #383838;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px; }
    .pagination .page-numbers.current {
      background-color: #DFBF36;
      border-color: #DFBF36; }
    .pagination .page-numbers.dots {
      border: none;
      width: auto;
      align-items: flex-end;
      font-size: 20px; }
    .pagination .page-numbers.prev, .pagination .page-numbers.next {
      background-image: url(img/arrow-white.png);
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat; }
      .pagination .page-numbers.prev:hover, .pagination .page-numbers.next:hover {
        background-color: #DFBF36;
        border-color: #DFBF36; }
    .pagination .page-numbers.next {
      transform: scaleX(-1); }
    .pagination .page-numbers:hover:not(.current) {
      color: #DFBF36; }

.consent-container {
  display: flex;
  margin-bottom: 30px; }
  .consent-container:after {
    clear: both;
    content: "";
    display: block; }
  .consent-container .checkbox {
    margin-right: 15px; }
    .consent-container .checkbox.error {
      border: 1px solid #D03F48; }
  .consent-container label {
    width: 100%;
    margin: 0;
    line-height: 1.5; }

.cookie {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  display: none; }
  .cookie .container-1400 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .cookie p {
    color: #000;
    margin: 0;
    margin-bottom: 20px; }
  .cookie .button {
    max-width: 200px;
    min-width: 180px; }
  .cookie a {
    color: #DFBF36; }
  @media screen and (min-width: 576px) {
    .cookie .container-1400 {
      flex-direction: row; }
    .cookie p {
      margin-bottom: 0;
      margin-right: 30px; } }

.accordion {
  background-color: #fff;
  padding: 18px 15px;
  border-radius: 5px;
  margin-bottom: 15px; }
  .accordion h2 {
    font-size: 16px;
    color: #000;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center; }
    .accordion h2 div {
      margin-right: 20px; }
      .accordion h2 div g {
        fill: #DFBF36; }
      .accordion h2 div rect {
        fill: #DFBF36; }
      .accordion h2 div .plus, .accordion h2 div .minus {
        cursor: pointer; }
      .accordion h2 div .minus {
        display: none; }
  .accordion .answer {
    display: none; }
  .accordion p {
    margin: 0;
    padding-top: 12px;
    color: #000; }
  .accordion.active .plus {
    display: none; }
  .accordion.active .minus {
    display: block; }
  @media screen and (min-width: 480px) {
    .accordion {
      padding: 18px 30px; } }

.mail-checkout {
  text-align: center; }
  .mail-checkout p {
    font-size: 22px; }
  .mail-checkout .button {
    display: inline-block; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #383838;
  z-index: 100;
  height: 70px; }
  header .cart-icon {
    position: relative; }
    header .cart-icon.indicate:before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #DFBF36;
      position: absolute;
      top: 5px;
      right: 5px;
      animation: blop 0.3s cubic-bezier(0.12, 0.67, 0.32, 1.34);
      transform: scale(1); }

@keyframes blop {
  from {
    transform: scale(0); } }
  header .header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100%; }
    header .header-inner > .logo img {
      height: 55px;
      width: 55px; }
    header .header-inner > .cart-icon {
      padding: 15px; }
  header .pi-menu-container {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    padding: 15px;
    background-color: #000;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #383838;
    display: none;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.5);
    z-index: 4; }
    header .pi-menu-container .menu li {
      margin-bottom: 10px; }
      header .pi-menu-container .menu li a {
        display: inline-block;
        font-size: 16px;
        padding: 10px; }
    header .pi-menu-container .menu .logo {
      display: none; }
    header .pi-menu-container .menu-extended {
      display: flex;
      align-items: center;
      justify-content: center; }
      header .pi-menu-container .menu-extended li a {
        display: inline-block;
        padding: 15px; }
      header .pi-menu-container .menu-extended .order {
        display: none; }
      header .pi-menu-container .menu-extended .cart-icon {
        display: none; }
  @media screen and (min-width: 768px) {
    header .hamb {
      display: none; }
    header .header-inner > .logo {
      padding: 0 15px; }
    header .header-inner > .cart-icon {
      display: none; }
    header .pi-menu-container {
      position: static;
      display: flex;
      align-items: center;
      padding: 0;
      border-bottom: 0;
      box-shadow: none; }
      header .pi-menu-container .menu {
        display: flex; }
        header .pi-menu-container .menu li {
          margin-bottom: 0px; }
          header .pi-menu-container .menu li a {
            padding: 15px; }
            header .pi-menu-container .menu li a:hover {
              color: #DFBF36; }
      header .pi-menu-container .menu-extended {
        margin-left: auto;
        margin-right: 10px; }
        header .pi-menu-container .menu-extended li:hover path {
          fill: #DFBF36; }
        header .pi-menu-container .menu-extended .cart-icon {
          display: inline-block; } }
  @media screen and (min-width: 1300px) {
    header {
      border-bottom: none;
      position: static;
      background-color: transparent;
      height: auto; }
      header .header-inner {
        max-width: 1400px;
        margin: 0 auto;
        position: relative; }
        header .header-inner > .logo {
          display: none; }
      header .pi-menu-container {
        background-color: transparent;
        max-width: 700px;
        margin: 0 auto;
        align-items: center;
        z-index: 2; }
        header .pi-menu-container .menu-header-container {
          width: 100%; }
        header .pi-menu-container .menu {
          align-items: center;
          justify-content: space-between; }
          header .pi-menu-container .menu .logo {
            padding: 0;
            padding-top: 20px;
            display: block; }
            header .pi-menu-container .menu .logo img {
              width: 150px; }
        header .pi-menu-container .menu-extended {
          position: absolute;
          top: auto;
          right: 0; } }

footer {
  background-color: #000; }
  footer .footer-group {
    padding: 30px 15px;
    padding-bottom: 0;
    border-bottom: 1px solid #383838;
    border-top: 1px solid #383838; }
  footer .logo-footer {
    display: block;
    text-align: center;
    margin-bottom: 30px; }
    footer .logo-footer .logo {
      display: inline-block;
      width: 90px; }
  footer .menu-footer-container {
    margin-bottom: 30px; }
  footer .menu {
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .menu a {
      padding: 5px; }
      footer .menu a:hover {
        color: #DFBF36; }
    footer .menu li:not(:last-child) {
      margin-bottom: 15px; }
  footer .footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; }
    footer .footer-icons li a {
      display: inline-block;
      padding: 0 10px; }
      footer .footer-icons li a:hover path {
        fill: #DFBF36; }
  footer .cpy {
    padding: 20px 0;
    display: flex;
    justify-content: center; }
  footer .esif {
    text-align: center;
    padding-bottom: 20px; }
    footer .esif img {
      width: auto;
      max-width: 100%; }
  @media screen and (min-width: 480px) {
    footer .menu {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal; }
      footer .menu li {
        margin: 3px; }
      footer .menu a {
        padding: 10px; } }
  @media screen and (min-width: 768px) {
    footer .menu li {
      margin: 0; }
      footer .menu li:not(:last-child) {
        margin: 0; } }

section {
  margin-bottom: 17%;
  text-align: center; }
  section.introduction {
    margin-bottom: 10%; }
    section.introduction h1 span {
      display: block; }
      section.introduction h1 span:nth-child(1) {
        font-family: "Raleway-Regular"; }
      section.introduction h1 span:nth-child(2) {
        font-family: "Raleway-Bold"; }
    section.introduction img {
      width: auto;
      max-width: 100%;
      padding: 0 15%; }
  section.about {
    position: relative; }
    section.about .decoration-images .left, section.about .decoration-images .right {
      position: absolute;
      top: 0;
      width: 15%;
      transition: .4s all; }
    section.about .decoration-images img {
      position: absolute; }
    section.about .decoration-images .left {
      left: -200px; }
      section.about .decoration-images .left img:nth-child(1) {
        top: 0;
        left: 0;
        transform: translate(-30%, -100%) scaleX(-1);
        width: 100%;
        z-index: 1; }
      section.about .decoration-images .left img:nth-child(2) {
        top: 0;
        left: 0;
        transform: translate(60%, -60%);
        width: 60%; }
    section.about .decoration-images .right {
      right: -200px; }
      section.about .decoration-images .right img:nth-child(1) {
        top: 0;
        right: 0;
        transform: translate(15%, -50%);
        width: 120%;
        z-index: 1; }
      section.about .decoration-images .right img:nth-child(2) {
        top: 0;
        right: 0;
        transform: translate(-25%, 8%);
        width: 90%; }
    @media screen and (min-width: 992px) {
      section.about .decoration-images .left {
        left: 0;
        animation: inWiew 1s; }
      section.about .decoration-images .right {
        right: -100px;
        animation: inWiew 1s; }
      @keyframes inWiew {
        from {
          left: -400px;
          right: -400px; } } }
  section.slider {
    margin-bottom: 10%;
    padding-top: 80px;
    margin-top: -80px; }
  section.blog-latest .post-container {
    padding: 0 20px; }
    section.blog-latest .post-container:after {
      clear: both;
      content: "";
      display: block; }
  section.blog-latest h1 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section.blog-latest h1 .link {
      font-size: 16px;
      font-family: "Raleway-Regular";
      display: none;
      margin-right: 20px; }
  section.blog-latest .post {
    text-align: left;
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
    margin-bottom: 30px; }
    section.blog-latest .post:last-child {
      margin-right: 0; }
    section.blog-latest .post:nth-child(n) {
      margin-right: 0; }
    section.blog-latest .post .img-container {
      position: relative;
      overflow: hidden;
      margin-bottom: 7px;
      border-radius: 5px; }
      section.blog-latest .post .img-container:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 70.4128440367%; }
      section.blog-latest .post .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        transition: .5s transform; }
      section.blog-latest .post .img-container:hover img {
        transform: translate(-50%, -50%) scale(1.2); }
    section.blog-latest .post .date {
      color: #fff;
      margin-bottom: 3px; }
    @media screen and (min-width: 576px) {
      section.blog-latest .post {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 48.8211739883%; }
        section.blog-latest .post:last-child {
          margin-right: 0; }
        section.blog-latest .post:nth-child(n) {
          margin-right: 2.3576520234%; }
        section.blog-latest .post:nth-child(n+1) {
          clear: none; }
        section.blog-latest .post:nth-child(2n) {
          margin-right: 0; }
        section.blog-latest .post:nth-child(2n+1) {
          clear: left; }
        section.blog-latest .post:last-child {
          display: none; } }
    @media screen and (min-width: 992px) {
      section.blog-latest .post {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 31.7615653177%; }
        section.blog-latest .post:last-child {
          margin-right: 0; }
        section.blog-latest .post:nth-child(2n) {
          margin-right: 2.3576520234%; }
        section.blog-latest .post:nth-child(2n+1) {
          clear: none; }
        section.blog-latest .post:last-child {
          display: block; } }
    section.blog-latest .post h3 {
      margin-bottom: 0; }
  section.teaser {
    margin-bottom: 0;
    padding: 14%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 576px) {
      section.teaser {
        padding: 10%; } }
    section.teaser h2 {
      font-family: "Tamaki-1";
      margin-bottom: 30px;
      font-size: 15vw; }
      @media screen and (min-width: 480px) {
        section.teaser h2 {
          font-size: 90px; } }
  @media screen and (min-width: 768px) {
    section {
      margin-bottom: 10%; }
      section.blog-latest.blog-latest h1 .link {
        display: block; }
      section.introduction {
        margin-bottom: 5%; }
        section.introduction img {
          padding: 0 20%; } }
  @media screen and (min-width: 992px) {
    section.slider .h2 {
      margin-bottom: 0; } }
  @media screen and (min-width: 1300px) {
    section {
      margin-bottom: 150px; }
      section.introduction {
        margin-bottom: 100px; }
        section.introduction img {
          padding: 0; }
      section.slider {
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 100px; }
        section.slider .h2 {
          margin-bottom: 20px; }
      section.teaser {
        padding: 0;
        height: 515px; }
        section.teaser h2 {
          font-size: 120px;
          margin-bottom: 40px; } }

.blog-archive:after {
  clear: both;
  content: "";
  display: block; }

.blog-archive .post {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  margin-bottom: 25px; }
  .blog-archive .post:last-child {
    margin-right: 0; }
  .blog-archive .post:nth-child(n) {
    margin-right: 0; }
  .blog-archive .post .img-container {
    overflow: hidden;
    margin-bottom: 7px;
    border-radius: 5px; }
  .blog-archive .post .h3 {
    margin-bottom: 0; }
  @media screen and (min-width: 480px) {
    .blog-archive .post {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 48.8211739883%; }
      .blog-archive .post:last-child {
        margin-right: 0; }
      .blog-archive .post:nth-child(n) {
        margin-right: 2.3576520234%; }
      .blog-archive .post:nth-child(n+1) {
        clear: none; }
      .blog-archive .post:nth-child(2n) {
        margin-right: 0; }
      .blog-archive .post:nth-child(2n+1) {
        clear: left; }
      .blog-archive .post .h3 {
        font-size: 19px; } }
  @media screen and (min-width: 768px) {
    .blog-archive .post {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 31.7615653177%;
      margin-bottom: 40px; }
      .blog-archive .post:last-child {
        margin-right: 0; }
      .blog-archive .post:nth-child(2n) {
        margin-right: 2.3576520234%; }
      .blog-archive .post:nth-child(2n+1) {
        clear: none; }
      .blog-archive .post:nth-child(3n) {
        margin-right: 0; }
      .blog-archive .post:nth-child(3n+1) {
        clear: left; }
      .blog-archive .post .img-container {
        margin-bottom: 20px; }
        .blog-archive .post .img-container img {
          transition: .5s transform; }
        .blog-archive .post .img-container:hover img {
          transform: scale(1.2); }
      .blog-archive .post .date {
        margin-bottom: 10px; } }
  @media screen and (min-width: 1300px) {
    .blog-archive .post .h3 {
      font-size: 23px; } }

.blog-single ul {
  list-style: disc;
  padding-left: 15px;
  margin-bottom: 30px; }

.blog-single .h2 {
  text-align: left;
  margin-bottom: 10px; }

.blog-single .date {
  margin-bottom: 30px; }
  @media screen and (min-width: 1300px) {
    .blog-single .date {
      margin-bottom: 60px; } }

.blog-single .wp-block-image {
  margin: 0;
  margin-bottom: 4%; }
  @media screen and (min-width: 1300px) {
    .blog-single .wp-block-image {
      margin-bottom: 30px; } }

.blog-single .wp-block-gallery .blocks-gallery-item {
  margin-bottom: 4%; }
  @media screen and (min-width: 1300px) {
    .blog-single .wp-block-gallery .blocks-gallery-item {
      margin-bottom: 30px; } }

.contact {
  margin-bottom: 60px; }
  .contact a {
    color: #DFBF36; }
  .contact .subtitle {
    margin-bottom: 60px;
    font-size: 5vw; }
    .contact .subtitle strong {
      font-family: "Raleway-Bold"; }
    .contact .subtitle p {
      margin: 0; }
    @media screen and (min-width: 480px) {
      .contact .subtitle {
        font-size: 20px; }
        .contact .subtitle strong {
          font-size: 26px; } }
  .contact .info-container {
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 480px) {
      .contact .info-container {
        flex-direction: row; } }
  @media screen and (min-width: 480px) {
    .contact .left {
      width: 50%; } }
  @media screen and (min-width: 480px) {
    .contact .right {
      width: 50%; } }
  .contact .info-item {
    margin-bottom: 15px; }
    .contact .info-item .desc {
      margin-right: 10px; }

.product-single h1 {
  font-family: "Tamaki-1";
  font-size: 20vw; }

.product-single .h3 {
  margin-bottom: 30px; }

.product-single p {
  margin-bottom: 30px; }

.product-single .container-920:first-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #383838;
  margin-bottom: 50px; }

.product-single .img-container {
  padding: 0 40%; }

.product-single .product-detail .headline {
  display: none; }

.product-single .product-detail .select-unit {
  display: flex;
  flex-direction: column;
  align-items: center; }

.product-single .product-detail .button {
  margin: 0 5px; }
  .product-single .product-detail .button span {
    display: block;
    font-family: "Raleway-Regular"; }

.product-single .product-detail .packing {
  margin-bottom: 30px; }
  .product-single .product-detail .packing .button {
    padding: 15px 20px;
    float: left; }
    .product-single .product-detail .packing .button.active {
      background-color: #DFBF36; }

.product-single .product-detail .quantity {
  margin-bottom: 30px;
  display: flex; }
  .product-single .product-detail .quantity input {
    user-select: none;
    color: #fff;
    background-color: transparent;
    font-size: 23px;
    text-align: center;
    max-width: 100px; }
  .product-single .product-detail .quantity .button {
    padding: 0; }
    .product-single .product-detail .quantity .button svg {
      width: 40px;
      height: 40px; }

.product-single .product-container {
  padding-bottom: 20px; }
  .product-single .product-container:after {
    clear: both;
    content: "";
    display: block; }
  .product-single .product-container .product {
    width: calc(100% / 4);
    float: left;
    padding: 0 5%; }

@media screen and (min-width: 480px) {
  .product-single .h3 {
    font-size: 28px;
    margin-bottom: 40px; }
  .product-single .product-container .product {
    padding: 0 6%;
    transition: .4s transform; }
    .product-single .product-container .product:hover {
      transform: scale(1.1); } }

@media screen and (min-width: 576px) {
  .product-single .headline {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 57.3509783236%;
    margin-left: 42.6490216764%; }
    .product-single .headline:last-child {
      margin-right: 0; }
    .product-single .headline h1 {
      font-size: 100px;
      margin-top: 0;
      text-align: left;
      margin-left: -5px; }
  .product-single .description {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
    display: flex; }
    .product-single .description:last-child {
      margin-right: 0; }
  .product-single .img-container {
    padding: 0;
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%; }
    .product-single .img-container:last-child {
      margin-right: 0; }
    .product-single .img-container img {
      width: 150px;
      margin: 0 auto;
      display: block; }
  .product-single .product-detail {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 57.3509783236%;
    display: flex;
    flex-direction: column; }
    .product-single .product-detail:last-child {
      margin-right: 0; }
    .product-single .product-detail p {
      flex-grow: 1;
      margin-bottom: 0; }
    .product-single .product-detail .select-unit {
      align-items: flex-start;
      flex-grow: 1;
      margin-left: -5px; } }

@media screen and (min-width: 1300px) {
  .product-single .h3 {
    font-size: 32px;
    margin-bottom: 50px; }
  .product-single .container-920:first-child {
    padding-bottom: 40px;
    margin-bottom: 60px; }
    .product-single .container-920:first-child > .headline {
      display: none; }
  .product-single .img-container {
    margin-top: 90px; }
    .product-single .img-container img {
      width: auto;
      max-width: 100%;
      margin: 0 auto;
      display: block; }
  .product-single .product-detail .headline {
    display: block;
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%;
    margin-left: 0%; }
    .product-single .product-detail .headline:last-child {
      margin-right: 0; }
  .product-single .product-detail p {
    margin-bottom: 30px; } }

form input {
  height: 48px;
  margin-bottom: 20px;
  padding: 15px; }

.error404 main {
  max-width: 1800px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-image: url(img/404.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px - 200px);
  flex-direction: column; }
  .error404 main h1 {
    font-family: "Tamaki-1";
    font-size: 170px;
    margin: 0;
    margin-top: -80px; }
  .error404 main h2 {
    text-align: center;
    padding: 0 15px; }
  @media screen and (min-width: 1300px) {
    .error404 main {
      min-height: calc(100vh - 168px - 20px - 324px);
      margin-top: 20px; } }

.not-supported {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 40px;
  text-align: center;
  margin-top: -70px; }
  @media screen and (min-width: 1300px) {
    .not-supported {
      margin-top: 0; } }
